.form {
  padding: 2em;
  /* background-color: tomato; */
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.form input {
  font-size: 24px;
  padding: 1em;
  outline: none;
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  flex-basis: 300px;
  background-color: hsl(248, 30%, 60%);
}

.form input::placeholder {
  color: black;
}

.form input:focus {
  color: white;
  border: 2px solid blue;
  background-color: hsl(248, 30%, 40%);
}

.form button {
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  padding: 1em;
  outline: none;
  border: 1px black solid;
  cursor: pointer;
  background-color: orange;
  box-shadow: inset -2px -2px 8px 10px hsl(38, 96%, 40%);
}

.form button:hover {
  box-shadow: none;
}

.form button:focus {
  border: 2px white solid;
}

hr {
  border: 1px solid rgb(37, 84, 240);
}
