.todoCard {
  display: inline-block;
  margin: 0;
  height: 400px;
  width: 500px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: aqua;
  position: relative;
}

.todoTitle {
  position: absolute;
  top: -1%;
  left: 4%;
  font-size: 40px;
  /* background-color: beige; */
}

.todoDescription {
  position: absolute;
  height: 50%;
  width: 90%;
  top: 15%;
  left: 2%;
  overflow-y: scroll;
  padding: 0.4em;
  background-color: aqua;
  font-size: 25px;
}

.todoBtnContainer {
  /* background-color: tomato; */
  position: absolute;
  bottom: 2%;
  right: 6%;
  height: 20%;
  display: flex;
  width: 90%;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.todoBtn {
  font-size: 28px;
  font-weight: bold;
  padding: 0.2em;
  width: 30%;
  border-radius: 15px;
  border: 2px solid red;
  cursor: pointer;
}
