.todoCardContainer {
  min-width: 100%;
  background-color: rgb(24, 57, 117);
  margin-top: 2em;
  padding: 2em;
  display: flex;
  flex-flow: column wrap;
  user-select: none;
}

.todoCard {
  background-color: rgb(48, 127, 231);
  min-width: 100%;
  min-height: 20vh;
  border: 2px solid blue;
  border-radius: 2em;
  outline: none;
  margin-bottom: 2em;
  padding: 1em;
  display: grid;
  grid-template-columns: 80% 20%;
}

.todoCardDetails {
  display: flex;
  flex-direction: column;
}

.todoCardTitle {
  margin-bottom: 0.5em;
  font-size: 1.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todoCardDescription {
  font-size: 1.4em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todoCardBtn {
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
  border-radius: 30px;
  border: 2px white solid;
  outline: none;
}

.todoCardBtn:focus {
  border: 2px black solid;
}

.todoCardBtn:hover {
  color: white;
  background-color: hsl(0, 20%, 20%);
}
